# --- Node.js ---
node_modules
.next
dist
build
.env
.env.local
.turbo
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# --- Go ---
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool
*.out

# --- System ---
.DS_Store
Thumbs.db
.vscode
.idea
